/*border-box FTW*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
}



/* @start basic layout */

.viewport {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#content-container {
    width: 10000%;
    height: 10000%;

    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

/* @end basic layout */



/* @start content */

.content {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    float: left;
    font-size: 60px;
    border: 4px solid cornflowerblue;
    padding: 40px;
}

.position-data {
    font-size: 12px;
    line-height: 12px;
}

.title {
    font-style: italic;
}

.plot {
    font-size: 32px;
    line-height: 32px;
    padding: 20px 0;
}

.director,
.releasedate {
    font-size: 24px;
    line-height: 32px;
}

.error {
    color: #f00
}
/* @end content */



/* @start navigation */

.nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.nav-button {
    font-family: Verdana, sans-serif;
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: bold;
    background: rgba(0,0,0,.5);
    z-index: 10;

    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.nav-button-up {
    top: 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.nav-button-right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav-button-down {
    bottom: 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.nav-button-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav.up .nav-button-up,
.nav.right .nav-button-right,
.nav.down .nav-button-down,
.nav.left .nav-button-left {
    opacity: 1;
}

/* @end navigation */